{% extends "_base.html" %}

{% block title %} Home {% endblock title %}

{% block style %}

	@media (min-width: 992px) {

		.rounded-lg-end-0 {
			border-top-right-radius: 0% !important;
			border-bottom-right-radius: 0% !important;
		}

		.rounded-lg-start-1 {
			border-top-left-radius: var(--bs-border-radius) !important;
			border-bottom-left-radius: var(--bs-border-radius) !important;
		}

		.border-lg-top-1 {
			border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
		}

		.rounded-lg-end-1 {
			border-top-right-radius: var(--bs-border-radius) !important;
			border-bottom-right-radius: var(--bs-border-radius) !important;
		}

		.rounded-lg-start-0 {
			border-top-left-radius: 0% !important;
			border-bottom-left-radius: 0% !important;
		}

	}

{% endblock style %}


{% block body %}

<div class="col-lg-6 mt-4">

	{% if posts %}
	{% for post in posts %}

	{% if post.thumbnail_url %}
		
		<div class="card mb-3 border-0">

			<div class="row g-0">

				<div class="col-lg-4">
					<img src="{{ url_for('static', path=post.thumbnail_url) }}" 
					class="object-fit-cover w-100 h-100 rounded-top rounded-lg-end-0 rounded-lg-start-1" alt="..." > 
				</div>

				<div class="col-lg-8 border border-top-0 border-lg-top-1 rounded rounded-top-0 rounded-lg-end-1 rounded-lg-start-0">
					<div class="card-body">
						<h5 class="card-title">{{ post.title }}</h5>
						<p class="card-text">{{ post.body }}</p>
						<p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
					</div>
				</div>
			</div>

		</div>

	{% else %}


		<div class="card mb-3 border-0">

			<div class="row g-0">

				<div class="col-lg-4"> </div>

				<div class="col-lg-8 border rounded">
					<div class="card-body">
						<h5 class="card-title">{{ post.title }}</h5>
						<p class="card-text">{{ post.body }}</p>
						<p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
					</div>
				</div>
			</div>

		</div>
	

	{% endif %}


	{% endfor %}

	{% else %}

		<p> No posts exists yet. </p>

	{% endif %}

</div>

{% endblock body %}




